/* Global CSS Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "K2D", sans-serif;
  background-color: rgb(150, 148, 148);
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;

  /* background-color: rgb(91, 250, 255); */
}

a {
  text-decoration: none;
  color: blue;
}

a :hover {
  text-decoration: underline;
}

/* ============================================================= */
/* Head */
/* ============================================================= */

.site-header {
  background-color: white;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

.site-title {
  /* rem เปลี่ยนตัววหลักตัวอื่นเปลี่ยนหมด*/
  font-size: 1.5rem;
  font-weight: 700;
}

.site-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(102, 102, 102);
}

.social-icons a {
  font-size: 1rem;
  font-weight: 600;
  color: #555;

  border: 1px solid #555;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  margin-left: 10px;

  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: blue;
  transform: translateY(-5px);
  color: aliceblue;
}

/* ============================================================= */
/* Nav-style */
/* ============================================================= */

.main-nav {
  background-color: rgb(59, 85, 255);
}

.nav-menu {
  display: flex;
  list-style-type: none;

  flex-wrap: wrap;
}

.nav-menu li a {
  color: white;
  font-size: 0.9rem;

  display: block;
  padding: 10px 15px;
}

.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: blue;
}

/* ==================================================== */
/* Hero style */
/* ==================================================== */
.hero-content {
  background-color: #00ff51;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(189, 255, 187);

  margin-bottom: 20px;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 2px 4px;

  text-align: center;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));

  /*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */
}

/* ====================================================== */
/* hero-item */
/* ======= */

.hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}

/* =========================================== */
/* Page */
/* =========================================== */
.content-grid {
  display: grid;
  grid-template-columns: 2fr 0.9fr;
  gap: 20px;
}

.post-headline {
  font-size: 0.685rem;
  color: #777;

  text-transform: uppercase;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-circle {
  background-color: rgb(0, 238, 255);
  color: white;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 0.69rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date-circle span.day {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.m {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}

/* card =============================== card */
.card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

/* card+card เพื่อให้การ์ดบวกการ์ด */
.card+.card {
  margin-top: 20px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* post-image ====================================*/
.post-image {
  height: 170px;
  margin: 10px 0;

  overflow: hidden;
}

.post-image img {
  width: 100%;
  height: auto;

  object-fit: cover;
  border-radius: 4px;
}

/* post-footer-description ============================= */
.post-description {
  color: rgb(39, 39, 39);
  font-size: 0.82rem;

  line-height: 1.5;
  margin: 10px 0;
}

.post-footer {
  font-size: 0.68rem;

  border-top: 1px solid #a1a1a1;
  padding-top: 10px;

  display: flex;
  gap: 10px;
}

/* css for card 2 = table=============================== */
.comparison-tb {
  box-shadow: 0 2px 8px rgb(114, 114, 114);
  /* border: 1px solid red; */
  /* border-collapse: collapse; */
}

/* .comparison-tb th,
.comparison-tb td {
  border: 1px solid red;
}

.comparison-tb thead {
  background-color: rgb(150, 148, 148);
  color: white;
} */

.comparison-tb th {
  background: linear-gradient(45deg, rgb(71, 166, 245) 0%, rgb(61, 74, 255)) 100%;
  color: white;
  padding: 15px;
}

.comparison-tb tr:nth-child(even) td {
  background-color: #9dd2fd;
}

.comparison-tb tr:hover td {
  background-color: #8baef8;
}

.comparison-tb td {
  background-color: #bcbcff;
  padding: 15px;
}

.featuer {
  font-weight: 600;
  color: black;
  font-size: 0.8rem;
}

.text-gray {
  font-weight: 500;
  color: rgb(78, 78, 78);
  font-size: 0.8rem;
}

.text-red {
  font-weight: 500;
  color: red;
  font-size: 0.8rem;
}

.text-green {
  font-weight: 500;
  color: green;
  font-size: 0.8rem;
}


/* ==================================== set styel for Form : ด้านซ้าย ====================================================== */

.contact-form-main-card {
  background-color: #aeabff39;

  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(34, 0, 255, 0.223);
  box-shadow: 0 2px 8px rgb(122, 122, 255);

  margin-top: 20px;
}

.for-label {
  display: block;

  font-size: 0.8rem;
  font-weight: 600;
  color: #353535;

  margin-bottom: 5px;
}

.contact-form-main-card .form-input,
.contact-form-main-card .form-select,
.contact-form-main-card .form-textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 4px;

  font-size: 0.9rem;

}


.contact-form-main-card .form-input,
.contact-form-main-card .form-select,
.contact-form-main-card .form-textarea {
  background-color: #fef9f9;
  color: #878787;
  border: 2px solid #ccc;

}

.contact-form-main-card .form-input:focus,
.contact-form-main-card .form-select:focus,
.contact-form-main-card .form-textarea:focus {
  outline: none;
  background-color: white;
  border-color: blue;
  box-shadow: 0 0 0 3px rgba(123, 103, 252, 0.468);
  transform: translateY(-1px);

}


.form-group {
  margin-bottom: 15px;

}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-textarea {
  min-height: 100px;
  resize: vertical;
  /* resize: vertical; ดึงได้แต่จะลงแต่ข้างล่าง */
}

.form-checkbox-group {
  display: flex;
  gap: 20px;
}

.checkbox-item {
  font-size: 0.82rem;

  display: flex;
  align-items: center;

  gap: 8px;
}

.checkbox-item input[type="checkbox"] {
  accent-color: rgb(179, 44, 247);
  transform: scale(1.25);
}

.form-button {
  width: 100%;
  padding: 12px 30px;

  /* background-color: #b3b3ff; */

  color: white;

  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: 25px;
  cursor: pointer;

  margin-bottom: 10px;
}

.submit-button {
  background: linear-gradient(9deg, rgb(161, 161, 247) 0%, rgb(0, 217, 255) 100%);
}

.submit-button:hover {
  opacity: 0.8;
}

.reset-button {
  background: linear-gradient(8deg, rgb(247, 161, 161) 0%, rgb(255, 0, 0) 100%);
}

.reset-button:hover {
  opacity: 0.8;
}

.mar-button {
  margin-top: 20px;
}



/* Right Side =========================================*/
.contact-form-main-card-right {
  background: linear-gradient(8deg, rgb(133, 245, 119) 0%, rgb(2, 49, 3) 100%);

  padding: 20px;
  border-radius: 20px;

  margin-top: 20px;
}

.contact-form-main-card-second-right {
  background: linear-gradient(8deg, rgb(237, 119, 245) 0%, rgb(186, 28, 243) 100%);

  padding: 20px;
  border-radius: 20px;

  margin-top: 20px;
}


.contact-form-main-card-right .form-input,
.contact-form-main-card-right .form-select {
  width: 100%;
  padding: 12px 15px;
  border-radius: 4px;

  font-size: 0.9rem;

}


.contact-form-main-card-right .form-input,
.contact-form-main-card-right .form-select {
  background-color: #fef9f9;
  color: #878787;
  border: 2px solid #ccc;

}

.contact-form-main-card-second-right .form-input,
.contact-form-main-card-second-right .form-select {
  width: 100%;
  padding: 12px 15px;
  border-radius: 4px;

  font-size: 0.9rem;

}


.contact-form-main-card-second-right .form-input,
.contact-form-main-card-second-right .form-select {
  background-color: #fef9f9;
  color: #878787;
  border: 2px solid #ccc;

}

.for-label-font-Head {
  display: block;

  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;


  margin-bottom: 5px;

}

.for-label-font {
  display: block;

  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;

  margin-bottom: 5px;
}

.form-textarea-right {
  min-height: 100px;
  resize: vertical;
  padding: 10px 20px;
  border-radius: 6px;
  /* resize: vertical; ดึงได้แต่จะลงแต่ข้างล่าง */
}

.reset-button-right {
  background: linear-gradient(8deg, rgb(163, 161, 247) 0%, rgb(0, 47, 255) 100%);
}

.reset-button-right:hover {
  opacity: 0.8;
}


.widget {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

/* คล้ายๆกับ card+card */
.widget+.widget {
  margin-top: 20px;
}

.widget-title {
  font-size: 1.2rem;
  font-weight: 800;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.auther-photo {
  background-color: #b6b6b6;

  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 70px 0; */
  /* text-align: center; */
}

.auther-follow {
  background-color: #908f8f;
  padding: 30px 0;
  text-align: center;
}

.sponsor-photo {
  background-color: #a3a3a3;

  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-facebook {
  color: white;
  background-color: #0241c9;
  padding: 10px;
  border-radius: 8px;

  display: inline-block;
  margin-top: 10px;

}


/* ตารางราคาทอง */
/* ทุกอย่างสามารถถูก root ดึงไปใช้ได้  */
:root {
  --bg01: rgb(204, 205, 255);
  --bg02: rgb(156, 176, 250);
  --bg03: rgba(89, 92, 246, 0.17);
  --bg04: rgba(255, 255, 255, 0.645);
  --line: rgb(0, 0, 255);
  --gree: rgb(0, 255, 17);
  --red: red;

}

.wrap-gold-table {
  background-color: var(--bg03);
  border-radius: 16px;

  border: 2px solid var(--line);
  overflow: hidden;
  /* อะไรก็ตามที่มองล้นออกมาจะทำให้มองไม่เห็น overflow: hidden; ------------------- */
}

.gold-tabel {
  border: 1px solid var(--line);
  border-collapse: collapse;
  /* จะไม่เห็นเส้นคู่ จะเห็นเส้นเดียว */

  width: 100%;
  

}

.gold-tabel th,
.gold-tabel td {
  border: 1px solid var(--line);
  padding: 20px;
}

.gold-tabel thead th {
  background-color: var(--bg02);
}

.gold-tabel tbody th {
  background-color: var(--bg01);
}


.all-year,
.all-year th {
  background-color: var(--bg04) !important;
  /* ใช้กับคลาสที่สำคัญถ้ามีสองคลาสจะเลือกที่คลาสที่เราต้องการให้สำคัญ !important */
  font-weight: 1000;
}

.num-right {
  text-align: end;
  
}

.green-color {
  color: var(--gree);
}

.red-color {
  color: var(--red);
}

.icon {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left:  5px solid transparent;
  border-right: 5px solid transparent;
}


.up {
  border-bottom: 10px solid var(--gree);
  
}

.down {
  border-bottom: 10px solid var(--red);
  
}

.num-center {
  text-align: center;
}

footer {
  padding: 40px 0;

  background-color: #333;
  color: rgb(255, 255, 255);

  text-align: center;
  margin-top: 30px;
}