/* Global CSS Styles */
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url(https://www.thekommon.co/pyramid/2022/03/Cover_01-1-1160x773.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    /* background-attachment: fixed; หาค่าตรงกลาง */





    background-color: chocolate;
}

html {
    /* ใช้ในการควบคุมการจั๊มไปหาแต่ละข้อ และความสมูท */
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 200px auto 40px;
}

/* Share CSS */
code {
    background-color: #9e9c9c;
    border-radius: 4px;
    padding: 2px 4px;
}

pre {
    background-color: #9e9c9c;
    border-left: (9, 215, 252) 5px solid;
    padding: 10px;

    white-space: per-wrap;
    word-wrap: break-word;
    border-left: red 5px solid;
}

.badge {
    color: blue;
    border-radius: 4px;
    padding: 2px 6px;
    background-color: #bcbcbc;
    font-size: 10px;
    font-weight: bold;

    vertical-align: middle;

}

.card {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    margin-bottom: 25px;
    border-top: 10px;

}

.noet {}



img {
    max-width: 100%;
    height: auto;

    /* width: 100%; ถ้าไม่อยากให้รูปเกินออกมา*/
}

/* Group1 Head Styles */
header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 2px 5px 10px rgb(69, 69, 69);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}


.list-mamu {

    list-style: none;
    display: flex;
    gap: 20px;
}

.list-mamu li {
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.list-mamu li:hover {

    transform: translateY(-5px);
}

.list-mamu a {

    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    background: linear-gradient(145deg, rgb(255, 100, 100), rgb(235, 23, 129));
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px black;
}

.list-mamu li a:hover {
    background: linear-gradient(145deg, rgb(21, 0, 255), rgb(0, 213, 255));
    padding: 8px 16px;
}

h1 {
    color: #ff0000;
    margin: ;
}


p {}

/* Group2 */
.img-small {
    width: 50px;
    height: 50px;
}

.position {
    display: flex;
    align-items: center;

    /* dashd คือเส้นป่ะ */
    border: 2px dashed rgb(186, 186, 186);
    margin: 10px 0;
}

.position.left {

    /* ทำให้เรียงกันเหมือนตัวเลขด้านบน */
    /* display: flex; */

    /* จัดตำแหน่งในแนวนอน ใช้ Start เพื่อไปซ้าย End ไปขวา */
    justify-content: flex-start;

    /* เอาไว้จัดแนวตั้ง */
    /* align-items: center ; */

}

.position.center {
    justify-content: center;
}

.position.right {
    justify-content: flex-end;
}

/* Group3 */
.img-fixed {
    width: 260px;
    height: 160px;
    object-fit: cover;
    margin: 10px;

    /* object-fit: cover; เอาไว้ปรับให้รูปให้ไม่เสียหายแต่รูปจะถูกตัดไป*/
}

/* Group4 */
.obj-fit-image {
    width: 800px;
    height: 200px;
    border: 1px solid black;
}

.obj-fit-image.contain {
    object-fit: contain;
}

.obj-fit-image.fill {
    object-fit: fill;
}

.obj-fit-image.cover {
    object-fit: cover;
}

/* Group5 */
.img-youtube img {
    width: 260px;
    border-radius: 12px;
    margin: 20px 0;


    transition: 0.3s;
}

.img-youtube img:hover {
    /* transform: rotate(180deg); */
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgb(34, 255, 0);
}


/* Group6 */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.gallery img {
    height: 120px;
    object-fit: cover;
    width: 100%;

}


/* Group7 */



/* Group8 */
figure {
    text-align: center;

}

/* Group9 */
.bg-image {
    background-image: url(../files/download\ \(3\).jpg);
}

/* Group10 */
.back-link {
    color: aliceblue;
    text-decoration: none;

    display: block;
    /* display: inline-block; */

    text-align: center;
    
    padding: 4px 24px;
    border-radius: 100px;
    background-color: rgb(25, 0, 255);
}

.back-link:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 2, 2);
    /* text-decoration: underline; */
}